span{
    color:red;
    }
table,th,td,thead{
    border: 3px solid black;
    border-radius: 10px;
}
th,td{
   background-color:aqua;
}
body{
    background-image: url('./images/back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.d1{
    border: 10px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    text-align: center;
}
.d2{
    border: 10px solid grey;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
}
.d3{
    border: 10px solid coral;
    border-radius: 10px;
    margin: 20px;
    padding: 40px;
    text-align: center;
}